body {
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .4s;

}

.toggle-button {
    width: 80px;
    height: 40px;
    border-radius: 30px;
    background-color: lightgray;
    cursor: pointer;
    position: relative;
}

.circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: white;
    top: 3px;
    left: 3px;
    position: absolute;
}